.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100px;
    background-color: #1e293b;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  /* Align content to the top */
    align-items: center;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-title {
    margin-bottom: 190px;  /* Add more space between title and buttons */
    font-size: 1rem;
    font-weight: bold;
  }
  
  .sidebar-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar-buttons button {
    display: block;
    width: 80%;
    margin: 10px;
    padding: 12px ;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
  }
  
  .sidebar-buttons button:hover {
    background-color: #2563eb;
  }
  
  .sidebar-buttons button.active {
    background-color: #2563eb;
    font-weight: bold;
  }
  